*.ply
*.pt
!test.ply
.ipynb_checkpoints
.idea
lightning_logs/
tensorboard_logs/
checkpoints/
logs/
.vscode/
9_DilatedToothSegNet_*.pdf
data/*
*.npz
*.ipynb
*.pyc
experiment_config/
*.stl
*.obj
*.exports
*.png
pointnet2_ops_lib/build
pointnet2_ops_lib/dist
*.egg-info/
__pycache__/

